#menu-secondary-menu {
	display:none
}

.site-title{
	font-size: 2.9rem
}

@media(max-width: 40em){
	.site-title-wrapper-inner .site-title{
		font-size:32px;
	}
	.single .page-title, .single .entry-title{
		font-size:1.7rem;
	}
	div.entry-content h2{
		font-size: 1.1875rem;
	}
}

@media(max-width: 64em) and (min-width: 40.063em){
	.site-title-wrapper-inner .site-title{
		font-size:36px;
	}
}

